.about_container {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  .title_image_container {
    display: flex;
    width: 100%;
    .titelMemeo {
      cursor: pointer;
      width: 50%;
      padding: 1rem;
      font-size: 3.7rem;
      font-weight: bold;
      color: $blue-color;
      span {
        color: $color-orangen;
      }
    }
    .about_image_container {
      cursor: pointer;
      width: 50%;
      height: 50vh;
      background-image: url(../assets/Neuron-Coding.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
  }
  .about_text_container {
    width: 80%;
    margin: 1rem auto;
    color: $primary-color;
    p {
      line-height: 30px;
      color: $blue-color;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .about_container {
    .title_image_container {
      width: 80%;
      margin: 0 auto;
      flex-direction: column;
      .titelMemeo {
        font-size: 2rem;
        margin-bottom: 2rem;
        width: 100%;
      }
      .about_image_container {
        width: 100%;
      }
    }
  }
}
