









@import 'Colors'; // Importiere die Variablen
 .cards {
      padding: 0.3rem;
      .DiscoverCardsContent {
        
        .title {
          background-color:$ColorOrangen ; 
          color: $WhiteColor;
          border-radius:0.5rem ;
          text-align: center;
          height: 5vh;    
          transition: all 0.8s ease;
       &:hover {
          background: #e97d01;
          box-shadow: 0px 0px 2px #000000;
        }     
        }
        color: $ColorBlack;
        background: $WhiteColor;
        border-radius: $border-radius;
        padding: 1rem 2rem;
        margin: 0rem 3rem;
        transition: all 0.8s ease;
    
        button {
          border-radius: 1rem;
          padding:0.2rem  0.6rem;
          border: none;
          font-size: 0.7rem;
          background: #cccc;
          margin: 1rem 0;
          color: #000000;
        }
        .discropt-created{
          opacity: 0.7;
          font-weight: 900;
          
        }
        
      }
    }