@import "Colors"; // Importiere die Variablen

.cards {
  padding: 0.3rem;

  .DiscoverCardsContent {

    .title {
      white-space: nowrap; 
      font-size: 27px;
      overflow: hidden;
      text-overflow: ellipsis;
    
     
      background-image: linear-gradient(#fdb25b 2.6px, transparent 2.6px),
        linear-gradient(90deg, #fdb25b 2.6px, transparent 2.6px),
        linear-gradient(#fdb25b 1.3px, transparent 1.3px),
        linear-gradient(90deg, #fdb25b 1.3px, #ed7e00 1.3px);
      background-size: 65px 65px, 65px 65px, 13px 13px, 13px 13px;
      background-position: -2.6px -2.6px, -2.6px -2.6px, -1.3px -1.3px,
        -1.3px -1.3px;

      color:$WhiteColor;
      font-weight: bolder;
      border-radius: 0.5rem;
      text-align: center;
      min-height: 5vh;
      transition: all 0.3s ease;
      
      &:hover {
        background-image: linear-gradient(#fdb25b 2.6px, transparent 2.6px),
          linear-gradient(90deg, #fdb25b 2.6px, transparent 2.6px),
          linear-gradient(#fdb25b 1.3px, transparent 1.3px),
          linear-gradient(90deg, #fdb25b 1.3px, #ed7e00 1.3px);
        background-size: 65px 65px, 65px 65px, 13px 13px, 13px 13px;
        background-position: -2.6px -2.6px, -2.6px -2.6px, -1.3px -1.3px,
          -1.3px -1.3px;
       
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
      
    }
    

    color: $ColorBlack;
    background: $WhiteColor;
    border-radius: $border-radius;
    padding: 1rem 2rem;
    margin: 0rem 3rem;
    transition: all 0.8s ease;

    button {
      border-radius: 1rem;
      padding: 0.2rem 0.6rem;
      border: none;
      font-size: 0.7rem;
      background: #cccc;
      margin: 1rem 0;
      color: #000000;
    }

    .discropt-created {
      opacity: 0.7;
      font-weight: 900;
    }
  }
}
