
//---------------- Color ----
$DarkCerulean: red;
$primaryColor: #3498db;
$secondaryColor: #2ecc71;
$highlightColor: orange;
$ColorLightGrey: #e6eaec;
$backgroundGreen: #387373;
$ColorOrangen:   #ff8800;
$WhiteColor: #eee;
$ColorLightBlue: #C4D6E7 ;
$ColorGaru: #cccc;
$BlueColor: #106899 ;
$ColorBlack: #000000;
$BlackWhiteColor: #eee;
$WhitColor: #fff;
$colorPrimary: #4caf50; 
$colorSecondary: #ff6f61;
$colorBlackGrau: #4d4d4dcc;
$WhitGrauColor: #9d9797;
// --------------- Bos-shadow 
$boxShadowBlack: 2px 2px 20px #a9070700;
$boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$boxShadowButton:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$BoxShadowColorBlack: 0px 0px 10px #000000;
// ----------------



// -----------
$text-transform: capitalize;
$padding-top-btn: 1.5rem;
$padding: 1rem;
$paddingAll: 2rem;
$border-radius: 2rem;
$overflow: auto;


$boxWidth:500px;
$boxHeight: 420px;