//---------------- Color ----

$primary-color: #3498db;
$ColorLight-grey: #e6eaec;
$backgroundGreen: #387373;
$Color-orangen: #ff8800;
$White-color: #eee;
$Color-light-blue: #c4d6e7;
$Color-garu: #cccc;
$Blue-color: #106899;
$Color-black: #000000;
$Black-white-color: #eee;
$Whit-color: #fff;
$Color-blackGrau: #4d4d4dcc;
$White-grau-color: #9d9797;
$highlight-color: orange;

// --------------- Box-shadow

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$boxShadowButton: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

//--------- Text size ------------------------

$biggestTextSize: 3.5rem;

// -----------
$text-transform: capitalize;
$padding-top-btn: 1.5rem;
$padding: 1rem;
$paddingAll: 2rem;
$overflow: auto;

//-----------------------border-radius ------------------------
$border-radius: 2rem;
$border-radius-button: 2rem;

//------------------- width and height sizes ------------------------
$boxWidth: 500px;
$boxHeight: 420px;
$maxWidth: 1280px;

//------------------ backgrounds ------------------------
