@import "Colors"; // Importiere die Variablen

.contact_repper {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  background-color: $ColorLightGrey;
  border-radius: 1rem;
  .wrpper-contact {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    padding: 1rem 0;
    .text-center {
      padding: 2rem 0;
      font-size: 2rem;
      font-weight: 400;
      text-shadow: 0px 0px 0.2px $ColorBlack;
    }
    .btn {
      cursor: pointer;
      padding-bottom: 1.2rem;
      padding: 0.3rem 0.6rem;
      border-radius: 1rem;
      border: none;
      outline: none;
      background: $BlueColor;
      color: $WhitColor;
      margin-bottom: 2rem;
    }
  }

  .content {
    opacity: 0;
    transform: translateY(50px);
    margin-top: 1em;
    cursor: pointer;
    transition:
    // all 0.6s ease;
      opacity 0.5s ease-in-out,
      transform 0.6s ease-in-out;
    &.show {
      // Ändere die Stile, wenn die Klasse 'show' hinzugefügt wird (z. B. beim Klicken)
      opacity: 1;
      transform: translateY(0);
    }
    p {
      letter-spacing: 0.2px;
      margin-bottom: 1.2rem;
      line-height: 23px;
    }
    a {
      cursor: pointer;
      color: #0b94ef;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: $BlueColor;
      }
    }
  }
}
