@import "Colors"; // Importiere die Variablen
.box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  border-radius: $border-radius-1rem;
  padding: 2rem 0;
  color: $blue-color;
  flex-wrap: wrap;
  .content-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    .titleHead {
      cursor: pointer;
      margin: 1rem 0;
      font-weight: bolder;
      font-size: 2.4rem;
      letter-spacing: 2px;
      text-align: center;
      color: $blue-color;
    }
    form {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      padding: 1rem;
      border-radius: $border-radius-1rem;
      background-color: $color-light-blue;
      box-shadow: $box-shadow;
      .group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        label {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 1rem 0;
        }
        input,
        textarea {
          width: 100%;
          padding: 1rem;
          border: none;
          outline: none;
          border-radius: $border-radius-1rem;
          cursor: pointer;
        }
      }
      .save {
        cursor: pointer;
        margin: 1.5rem auto;
        padding: 0.3rem 1.4rem;
        border-radius: $border-radius-1rem;
        border: none;
        color: $white-color;
        max-width: 100%;
        transition: all 0.3s ease;
        background: $highlight-color;
        font-weight: bold;
        &:hover {
          background: $color-orangen;
        }
      }
    }
  }

  .image-container {
    width: 40%;
    padding: 1rem 0;
    img {
      cursor: pointer;
      width: 200px;
      position: relative;
      left: 400px;
      opacity: 0;
      transition:
        left 1s ease-in-out,
        opacity 0.5s ease-in-out;
    }
    .active {
      left: 10rem !important;
      opacity: 1 !important;
    }
  }
}
@media (max-width: $breakpoint) {
  .box {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    .content-wrapper {
      width: 100%;
      margin: 1rem auto;
      .titleHead {
        font-size: $text-size-1-5rem;
        font-weight: bold;
      }
      form {
        width: 100%;
        margin: 0 auto;
      }
    }
    .image-container {
      width: 100%;
      img {
        width: 200px;
        position: relative;
        left: 100px;
        padding-left: 2rem;
      }
      .active {
        left: 0rem !important;
        opacity: 1 !important;
      }
    }
  }
}
