@import "Colors"; // Importiere die Variablen
.box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  border-radius: 1rem;
  padding: 2rem 0;
  color: $BlueColor;
  flex-wrap: wrap;
  .content-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    .titleHead {
      margin: 1rem 0;
      font-weight: bolder;
      font-size: 2.4rem;
      letter-spacing: 2px;
      text-align: center;
      color: $BlueColor;
    }
    form {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      background-color: rgba(196, 214, 231, 0.3);
      box-shadow: $boxShadow;
      .group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        label {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 1rem 0;
        }
        input,
        textarea {
          width: 100%;
          padding: 1rem;
          border: none;
          outline: none;
          border-radius: 0.3rem;
          cursor: pointer;
        }
      }
      .save {
        cursor: pointer;
        margin: 1.5rem auto;
        padding: 0.3rem;
        border-radius: 0.4rem;
        border: none;
        color: #ffff;
        max-width: 100%;
        transition: all 0.8s ease;
       background: $highlightColor;
          &:hover {
            background: $ColorOrangen;
          }
      }
    }
  }

  .image-container {
    width: 40%;
    padding: 1rem 0;
    img {
      width: 200px;
      position: relative;
      left: 400px;
      opacity: 0;
      transition:
        left 1s ease-in-out,
        opacity 0.5s ease-in-out;
    }
    .active {
      left: 10rem !important;
      opacity: 1 !important;
    }
  }
}
@media (max-width: 768px) {
  .box {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    .content-wrapper {
      width: 80%;
      margin: 1rem auto;
    }
    .image-container {
      width: 100%;
      img {
        width: 200px;
        position: relative;
        left: 100px;
      }
      .active {
        left: 0rem !important;
        opacity: 1 !important;
      }
    }
  }
}
