

.group_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 80vh;
  width: 100%;
  border-radius: $border-radius-1rem;
  .title {
    text-align: left;
    color: $blue-color;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $white-color;
    margin-bottom: 1.3rem;
    font-weight: bold;
  }

  .description {
    text-align: left;
    color: $blue-color;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $white-color;
    margin-bottom: 20px;
  }
  .group-content {
    background-color: $color-light-blue;
    border-radius: 2rem;

    .group_form {
      width: 550px;
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.8rem 0;
        font-size: $text-size-1rem;
        color: $blue-color;

        input,
        textarea {
          width: 100%;
          resize: vertical;
          max-width: 400px;
          max-height: 500px;
          padding: 0.6rem 0;
          border-radius: $border-radius-2rem;
          outline: none;
          border: none;
          background-color: white;
          padding-left: 1rem;
          margin-top: 1rem;
        }
      }

      .group_button {
        margin: 1rem;
        width: 74%;
        margin: 0 auto;
        button {
          width: 100%;
          padding: 0.5rem 0;
          border-radius: $border-radius-2rem;
          outline: none;
          border: none;
          margin: 1rem 0;
          background-color: $highlight-color;
          color: $white-color;
          transition: all 0.3s ease;
          font-weight: bold;

          &:hover {
            background-color: $color-orangen;
          }
        }
      }
    }
  }
}

.message {
  margin-top: 20px;
  padding: 10px;
  color: $blue-color;
}

.link-field {
  display: flex;
  flex-direction: column;
  /* Änderung der Ausrichtung auf kleinere Bildschirmgrößen */
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  //border: 1px solid $ColorLight-grey;
  border-radius: $border-radius-2rem;

  input {
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    border: none;
    background: transparent;
    color: $blue-color;
  }

  button {
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    margin-top: 1rem;
    padding: 8px;
    cursor: pointer;
    border-radius: $border-radius-2rem;
    color: white;
    transition: all 0.3s ease;
    outline: none;
    border: transparent;
    background-color: $highlight-color;
    font-weight: bold;

    &:hover {
      background: $color-orangen;
    }
  }
}

.back-button {
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin-top: 20px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  border-radius: $border-radius-2rem;
  color: white;
  outline: none;
  background-color: rgba(204, 204, 204, 0.8);
  font-weight: bold;
  transition: all 0.3s ease;
  border: transparent;
}

.back-button:hover {
  background: $blue-color;
}

/* Media Query für kleinere Bildschirme */
@media screen and (max-width: $breakpoint) {
 .group_container  {
    width: 80%;
    margin: 0 auto;
    .title {
      font-size: 1.2rem;
      text-align: center;
      color: $blue-color;
      font-weight: bold;
    }
    .description {
      font-size: 1rem;
    }
      .group-content{
        padding: 1rem;
        .group_form{
          width: 100%;
          .members{
            ::placeholder{
              font-size: 0.8rem;
      
            }
          }
        }
      }

  }
}
