@import "Colors";

.group_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 80vh;
  width: 100%;
  border-radius:$border-radius-1rem;

  .title {
    text-align: left;
    color: $blue-color;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $white-color;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .description {
    text-align: left;
    color: $blue-color;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $white-color;
    margin-bottom: 20px;
  }

  .group-container {
    width: $box-width;
    background: $color-light-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius:$border-radius-3rem;
    text-align: center;
    box-shadow: $box-shadow;

    form {
      width: 100%; /* Vollständige Breite auf kleineren Bildschirmen */
      max-width: 400px; /* Begrenzen Sie die Breite auf größeren Bildschirmen */
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.8rem 0;
        font-size: $text-size-1rem;
        color: $blue-color;

        input,
        textarea {
          width: 100%; /* Vollständige Breite auf kleineren Bildschirmen */
          padding: 0.6rem 0;
          border-radius: $border-radius-2rem;
          outline: none;
          border: none;
          background-color: white;
          padding-left: 1rem;
          margin-top: 1rem;
        }
      }

      .group_button {
        margin: 1rem;

        button {
          width: 100%; /* Vollständige Breite auf kleineren Bildschirmen */
          max-width: 150px; /* Begrenzen Sie die Breite auf größeren Bildschirmen */
          padding: 0.5rem 0;
          border-radius: $border-radius-2rem;
          outline: none;
          border: none;
          background-color: $highlight-color;
          color: $white-color;
          transition: all 0.3s ease;
          font-weight: bold;

          &:hover {
            background-color: $color-orangen;
          }
        }
      }
    }
  }

  .message {
    margin-top: 20px;
    padding: 10px;
    color: $blue-color;
  }

  .link-field {
    display: flex;
    flex-direction: column; /* Änderung der Ausrichtung auf kleinere Bildschirmgrößen */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    //border: 1px solid $ColorLight-grey;
    border-radius: $border-radius-2rem;

    input {
      width: 100%; /* Vollständige Breite auf kleineren Bildschirmen */
      margin-top: 1rem;
      border: none;
      background: transparent;
      color: $blue-color;
    }

    button {
      width: 100%; /* Vollständige Breite auf kleineren Bildschirmen */
      max-width: 150px; /* Begrenzen Sie die Breite auf größeren Bildschirmen */
      margin-top: 1rem;
      padding: 8px;
      cursor: pointer;
      border-radius: $border-radius-2rem;
      color: white;
      transition: all 0.3s ease;
      outline: none;
      border: transparent;
      background-color: $highlight-color;
      font-weight: bold;
    &:hover {
          background:$color-orangen;
        }
    }
  }

  .back-button {
    width: 100%; /* Vollständige Breite auf kleineren Bildschirmen */
    max-width: 150px; /* Begrenzen Sie die Breite auf größeren Bildschirmen */
    margin-top: 20px;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    border-radius: $border-radius-2rem;
    color: white;
    outline: none;
    background-color: rgba(204, 204, 204, 0.8);
    font-weight: bold;
    transition: all 0.3s ease;
    border: transparent;
  }

  .back-button:hover {
    background: $color-garu;
;
  }
}

/* Media Query für kleinere Bildschirme */
@media screen and (max-width: 600px) {
  .group-container form {
    max-width: none; /* Auf kleinen Bildschirmen keine Maximierung der Breite */
  }
}
