.disriptionSet {

  .set-description {
    margin-top: 0;
    section {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 3vw;
      position: relative;

      h4 {
        margin-left: 4vw;
        margin-top: 1.5vw;
        color: $blue-color;
      }
    }
    p {
      margin-bottom: 1vw;
      margin-top: 1vw;
      color: $blue-color;
      font-weight: bold;
    }
  }
}
