$backgroundGreen: #C4D6E7 ;
$text-transform: capitalize;
$padding-top-btn: 1.5rem;
$padding: 1rem;
$paddingAll: 2rem;
$overflow: auto;
$BlueColor: #106899 ;
$ColorBlack: #000000;
//
.discover-content {
  h1 {
    text-align: center;
    color: $BlueColor;
  }
  .DiscoverCarousel-container {
    background: $backgroundGreen;
    padding: 2rem 1.5rem;
    border-radius: 0rem;

    h2 {
      text-transform: $text-transform;
    }
   
  }
}
