$backgroundGreen: #387373;
$text-transform: capitalize;
$padding-top-btn: 1.5rem;
$padding: 1rem;
$paddingAll: 2rem;
$border-radius: 2rem;
$overflow: auto;
$WhiteColor: #eee;
$ColorBlack: #000000;
//
.discover-content {
  h2 {
    text-align: center;
    color: $WhiteColor;
  }
  .DiscoverCarousel-container {
    background: $backgroundGreen;
    padding: 2rem 1.5rem;
    border-radius: $border-radius;
    flex-wrap: wrap;
    overflow: $overflow;

    h2 {
      text-transform: $text-transform;
    }
   
  }
}
