

.discover-content {
  h1 {
    text-align: center;
    color: $blue-color;
  }
  .DiscoverCarousel-container {
    background:$color-light-blue;
    padding: 2rem 1.5rem;
    border-radius: 50px;
    box-shadow:$box-shadow;

    h2 {
      text-transform: capitalize;
    }
    > div {
    .slick-slider.slick-initialized {
      .slick-arrow.slick-next::before{
        color: $blue-color;
        font-size: $text-size-2rem;
      }
      .slick-arrow.slick-prev::before{
        color: $blue-color;
        font-size: $text-size-2rem;
      }
      .slick-prev, .slick-next{
        width: 50px;
      }
    
    }
  }
  }
}
