$backgroundGreen: #387373;
$BlackWhiteColor: #eee;
$WhitColor: #fff;
$ColorBlack: #000000;
$colorPrimary: #4caf50; // green
$colorSecondary: #ff6f61; // red
$fontSizeTitle: 2em;
$ColorLightWhite: #eeeeee;
$colorGrau: #4d4d4dcc;
$boxShadow: 0px 0px 10px #0000;

.EditSet_Container {
  width: 100%;
  h2 {
    color: $ColorBlack;
    font-size: 2rem;
    font-weight: 200;
  }

  .FromEdit {
    width: 100%;
    padding: 1rem;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .inputCards {
        display: flex;
        padding: 0.5rem;
        background-color: #eee;
        border-radius: 4rem;
        input {
          width: 550px;
          padding: 1rem;
          border: none;
          outline: none;
          background-color: #eee;
          padding-left: 0.4rem;
          &::placeholder {
            font-size: 1rem;
            color: rgb(71, 71, 71);
            font-weight: 300;
          }
        }
        .EditBtn {
          background-color: $backgroundGreen;
          padding: 0 0.5rem;
          width: 150px;
          height: 1.2rem;
          margin-right: 1rem;
          border: none;
          outline: none;
          color: #ffff;
          border-radius: 2rem;
        }
      }
    }
  }
}
