@import "Colors"; // Importiere die Variablen

.EditSet_Container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  .aditSetTitle {
    .set-title {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      padding: 1rem;
      border-radius: 1rem;

      button {
        border: none;
        width: 3rem;
        border-radius: 1rem;
        background-color: #106899;
        svg {
          fill: white;
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      h2 {
        color: $ColorBlack;
        font-size: 2rem;
        font-weight: 200;
      }
    }
    input {
      padding-left: 0.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      width: 80%;
      padding: 0.5rem 0;
      padding-left: 1rem;
    }
  }

  .EditSet_Content {
    margin: 0 auto;
    padding: 2em;
    .devContainer {
      width: 100%;
      margin: 0 auto;
      display: flex;
      .edidtOverlap-group {
        cursor: pointer;
        width: 50%;

        .slidNumber {
          padding: 0 2rem;
        }

        .editGroup {
          margin: 2rem 0;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          .flipped-number {
            cursor: pointer;
            padding: 0 3rem;
          }

          .ellipseLeft {
            width: 35px;
            height: 35px;
            line-height: 40px;
            border-radius: 50%;
            transition: all 0.6s ease;
            border-style: none;

            &:hover {
              box-shadow: 0px 2px 10px rgb(6, 6, 6);
            }

            &:active {
              box-shadow: none;
            }
          }

          .ellipseRight {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            line-height: 40px;
            transition: all 0.6s ease;
            border-style: none;

            &:hover {
              box-shadow: 0px 2px 10px rgb(6, 6, 6);
            }

            &:active {
              box-shadow: none;
            }
          }
        }
      }

      .setPractice {
        width: 50%;
        display: flex;

        .cardEdit {
          width: 400px;
          height: 300px;
          background-color: $ColorLightBlue;
          margin-bottom: 7rem;
          margin-left: 8rem;
          border-radius: 3.3rem;
          text-align: center;

          box-shadow: 0px 0px 5px #000000;

          button {
            margin: 0.4rem auto;
            width: 125px;
            background: $highlight-color;
            color: $WhitColor;
          }
          .set-access {
            margin-bottom: 1rem;
            margin-top: 2rem;
          }
          .delete-button {
            display: flex;
            flex-direction: row;
            button {
              background-color: $WhitGrauColor;
            }
          }

          .title {
            width: 100px;
            display: block;
            padding: 0.5rem;
            border-radius: 1rem;
            outline: none;
            border: none;
            cursor: pointer;
            text-align: center;
            transition: all 0.5s ease;
          }

          button {
            width: 100px;
            display: block;
            padding: 0.5rem;
            border-radius: 1rem;
            outline: none;
            border: none;
            cursor: pointer;
            text-align: center;
            transition: all 0.5s ease;

            &:hover {
              // transform: scale(1.1) ;
              background: $Color-orangen;
            }
          }
        }
      }
    }
  }

  .FromEdit {
    position: relative;
    width: 80%;
    margin: 0 auto;
    form {
      display: flex;
      margin: 10px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .inputCards {
        display: flex;
        padding: 0.5rem;
        background-color: #eee;
        border-radius: 4rem;

        textarea {
          width: 550px;
          min-height: 60px;
          max-height: 170px;
          padding: 1rem;
          border: none;
          outline: none;
          background-color: #eee;
          padding-left: 0.4rem;
          resize: vertical;

          &::placeholder {
            font-size: 0.75rem;
            color: rgb(71, 71, 71);
            font-weight: 100;
            font-style: italic;
          }
        }

        .btn-container {
          display: flex;
          flex-direction: column;
        }

        .EditBtn {
          background-color: $backgroundGreen;
          padding: 0 0.5rem;
          width: 150px;
          height: 1.2rem;
          margin-right: 1rem;
          margin-bottom: 0.5rem;
          border: none;
          outline: none;
          color: #ffff;
          border-radius: 2rem;
        }
      }
    }
  }

  .slider {
    height: 20vh;
    width: 350px;
    position: relative;
    top: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .EditSet_Container {
    padding-top: 2rem;
    .aditSetTitle {
      .set-title {
        h2 {
          font-size: 1rem;
        }
        button {
          width: 2.8rem;
        }
      }
      input {
        padding-left: 0.5rem;
        border-radius: 0.3rem;
        outline: none;
        border: none;
      }
    }

    .EditSet_Content {
      overflow: auto;

      .devContainer {
        display: flex;
        flex-direction: column;
        .edidtOverlap-group {
          width: 50%;
          margin: 0 auto;
        }
        .setPractice {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
    .FromEdit {
      width: 100%;
      form {
        .inputCards {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 1.3rem;
          textarea {
            width: 100%;
            margin: 0.3rem auto;
            border-radius: 1rem;
            border: 0.1px solid #000;
          }
          .EditBtn {
            width: 100%;
          }
        }
      }
    }
  }
}
