@import "Colors"; // Importiere die Variablen
//
.errorContent {
  height: 90vh;
  margin: 2rem 0;

  .errorOccurred {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .textErro {
      width: 600px;
      line-height: 2;
      font-size: 1.1rem;
      margin-bottom: 2rem;
      font-weight: 200;
  color: $Blue-color;
    }
    .Link_HomePage {
      padding: 0.4rem;
      margin-left: 1rem;
      border-radius: 2rem;
      text-decoration: none;
      color: $Whit-color;
      transition: all 0.6s ease;
       background:     $highlight-color;
            &:hover {
              background: $Color-orangen;
            }
    }
  }
}
