
@import 'Colors'; // Importiere die Variablen
.HomeLoggend_Contect {
    width: 90%;
    margin: 0 auto;
    
    .carousel_title {
        color: $blue-color;
        margin: 1rem 0;
        font-family: sans-serif;
              cursor: pointer;
    }
}


