$BackgroundLightBlue: #f5f5f5;
$ColorWhite: #ffff;
$ColorBlack: #000000;
$ColorYellow: #fdb25b;

.HomePage_container {
  width: 90%;
  margin: 0rem auto 0rem auto;

  .image-container {
    width: 100%;
    max-width: 650px;
    margin: auto;

    .responsive-image {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }

  .repper-content {
    background: $BackgroundLightBlue;
    display: flex;
    justify-content: space-between;
    height: 60vh;
    padding: 4rem;
    margin: 0rem 0;

    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      color: $ColorWhite;

      .blockStart {
        padding: 0.7rem;
        margin-top: 2.5rem;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        border-radius: 2rem;
        background-color: $ColorYellow;

        &:hover {
          transition: all 0.5s ease;
          box-shadow: 2px 2px 2px $ColorBlack;
          background-color: #ed7e00;
        }

        .startLinkCardTitel {
          font-size: 1rem;
          text-decoration: none;
          color: $ColorWhite;
          font-weight: 450;
        }
      }

      .title_head {
        font-weight: bolder;
        color: #106899;
        font-size: 4rem;
        margin-bottom: 1rem;
        letter-spacing: 3px;
        line-height: 1.1;
      }
    }
  }
}

.HomePage_container {
  .image-container {
    @media (max-width: 800px) {
      display: none;
    }
  }
}
