@import "Colors"; // Importiere die Variablen
.HomePageContainer {
  width: 90%;
  margin: 0 auto;
  .homePage_repper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0rem;
    .Discriptcontent {
      width: 40%;
      .title_head {
        width: 100%;
        font-size: $biggestTextSize;
        margin-bottom: 2rem;
        color: $Blue-color;
      }
      .startLinkCardTitel {
        text-decoration: none;
        background: $highlight-color;
        border-radius: 20px;
        padding: 0.4rem;
        color: $Whit-color;
        transition: all 0.3s ease;
        &:hover {
          background: $Color-orangen;
        }
      }
    }
    .getStartlink-content {
      width: 60%;
      height: 100%;
      .contentImage {
        width: 100%;
        height: 40vh;
        background-image: url(../assets/MemoBild.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .HomePageContainer {
    width: 100%;
    .homePage_repper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .Discriptcontent {
        width: 100%;
        .title_head {
          font-size: 2rem;
        }
      }
      .getStartlink-content {
        margin: 2rem 0;
        width: 100%;
        .contentImage {
          width: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin: 0 auto;
        }
      }
    }
  }
}
