
$BackgroundCreen:#387373;
$ColorWhite:#ffff;
$ColorBlack:#000000;
.HomePage_container {
    width: 90%;
  margin: 1rem auto;
  cursor: pointer;
  .repper-content {
    background: $BackgroundCreen;
    display: flex;
    // box-shadow: 0px 0px 10px #000;
    justify-content: space-between;
    border-radius: 3.3rem;
    padding: 4rem;
    margin: 1rem 0;
    flex-flow: row;
    .content {
      width: 50%;
      color: $ColorWhite;
      h1 {
        font-size: 3.3rem;
        margin-bottom: 1rem;
        letter-spacing: 3px;
        line-height: 1.1;
      }
      p {
        line-height: 1.3;
        font-weight: 200;
      }
    }
    .getStartlink-content {
      width: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      .startCrad {
        width: 100%;
        .blockStart {
          width: 300px;
          margin: auto;
          margin-bottom: 1rem;
          padding: 3rem;
          border-radius: 2rem;
          background-color: $ColorWhite;
          transition: all 0.3s ease;
          &:hover {
            box-shadow: 5px 5px 10px $ColorBlack;
          }
          .startLinkCard {
            font-size: 2rem;
            text-decoration: none;
            line-height: 3rem;
            color: $ColorBlack;
            font-weight: normal;
            font-family: "Times New Roman", Times, serif;
          }
        }
        .singinLinkCard {
          color: $ColorWhite;
          font-weight: 200px;
        }
      }
    }
  }

}
