
@import 'Colors'; // Importiere die Variablen
.HomeLoggend_Contect {
    width: 90%;
    margin: 0 auto;
    .discover-content{
        .DiscoverCarousel-container{
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
        }
    }
    .carousel_title {
        color: #106899;
        margin: 1rem 0;
        font-family: sans-serif;
    }
}


