@import "Colors"; // Importiere die Variablen
//  Styling Login
.signupFormContainer {
  overflow: auto;
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: $border-radius-1rem;
  .title {
    color: $blue-color;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $white-color;
  }
  .loginForm {
    width: $box-width;
    height: $box-height;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $color-light-blue;
    border-radius: $border-radius-2rem;
    text-align: center;
    box-shadow: $box-shadow;

    form {
      width: 290px;
      display: flex;
      flex-direction: column;
      label {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        font-size: $text-size-1rem;
        color: $blue-color;
        width: 290px;
        .inputPassword {
          display: flex;
          position: relative;

          .pwdvisibilityPass {
            background: transparent;
            position: absolute;
            right: 1rem;
            top: 0.9rem;
            border: none;
            outline: none;
          }
        }
      }
      input {
        width: 100%;
        padding: 0.6rem;
        outline: none;
        border: none;
        border-radius: $border-radius-2rem;
        margin: 0.3rem 0;
        padding-left: 1rem;
      }
      .login_btn {
        margin-top: 1rem;
        .btnToSetting {
          cursor: pointer;
          width: 100px;
          padding: 0.5rem 1rem;
          border-radius: $border-radius-2rem;
          border: none;
          outline: none;
          color: white;
          transition: all 0.3s ease;
          background: $highlight-color;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            background: $color-orangen;
          }
        }
      }
    }
  }
  .message-container {
    .message {
      letter-spacing: 1px;
      color: $blue-color;
    }
  }
}
@media only screen and (max-width: 700px) {
  .signupFormContainer {
    margin-top: 3rem;
    .loginForm {
      display: flex;
      width: 300px;
    }
  }
}
