
@import 'Colors'; // Importiere die Variablen
//  Styling Login
.signupFormContainer {
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 1rem;
  .title {
    color: $BlueColor;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $WhitColor;
  }
  .loginForm {
    width: 500px;
    height: 420px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #c4d6e7;
    border-radius: 3rem;
    text-align: center;
    box-shadow: $boxShadow;

    form {
      width: 290px;
      display: flex;
      flex-direction: column;
      label {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        font-size: 1.1rem;
        color: $BlueColor;
        width: 290px;
        .inputPassword {
          display: flex;
          position: relative;

          .pwdvisibilityPass {
            background: transparent;
            position: absolute;
            right: 1rem;
            top: 0.9rem;
            border: none;
            outline: none;
          }
        }
      }
      input {
        width: 100%;
        padding: 0.6rem;
        outline: none;
        border: none;
        border-radius: 2rem;
        margin: 0.3rem 0;
        padding-left: 1rem;
      }
      .login_btn {
        margin-top: 1rem;
        .btnToSetting {
          cursor: pointer;
          width: 100px;
          padding: 0.5rem 1rem;
          border-radius: 2rem;
          border: none;
          outline: none;
          color: $ColorBlack;
          transition: all 0.7s ease;
          background:  $highlightColor;
          text-decoration: none;
          &:hover {
          background: $ColorOrangen;
        }
        }
      }
    }
  }
  .message-container {
  
    .message {
  letter-spacing: 1px;
  text-shadow: 10px 10px 20px rgb(0, 0, 0);
    }
  }
}
@media only screen and (max-width: 700px) {
  .signupFormContainer {
    margin-top: 3rem;
    .loginForm {
      display: flex;
      width: 300px;
    }
  }
}
