$backgroundGreen: #387373;
$BlackWhiteColor: #eee;
$WhitColor: #fff;
$ColorBlack: #000000;
$colorPrimary: #4caf50;
$colorSecondary: #ff6f61; // red
$fontSizeTitle: 2em;
$colorGrau: #4d4d4dcc;
$boxShadow: 0px 0px 10px #0000;

.signupFormContainer {
  background: #f5f5f5;
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    color: #106899;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $WhitColor;
  }
  .loginForm {
    width: 320px;
    height: 410px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #c4d6e7;
    border-radius: 3rem;
    text-align: center;
    box-shadow: $boxShadow;
    form {
      width: 240px;
      display: flex;
      flex-direction: column;
      label {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        font-size: 1.1rem;
        color: #106899;
        .inputPassword{
          display: flex;
          position: relative;
          input{
            width: 240px;
          }
          .pwdvisibilityPass{
            background:transparent;
            position: absolute;
            right: 1rem;
            top: 0.9rem;
            border: none;
            outline: none;
          }
        }
      }
      input {
        width: 100%;
        padding: 0.6rem;
        outline: none;
        border: none;
        border-radius: 2rem;
        margin: 0.3rem 0;
        padding-left: 1rem;
      }
      .login_btn {
        margin-top: 1rem;
        .btnToSetting {
          cursor: pointer;
          width: 100px;
          padding: 0.5rem 1rem;
          border-radius: 2rem;
          border: none;
          outline: none;
          color: $ColorBlack;
          transition: all 3s ease;
          background: white;
          text-decoration: none;
          &:hover {
            background-color: #9d9797;
          }
        }
      }
    }
  }
  .register_link {
    .toRegisterLink {
      color: #106899;
      padding-left: 0.4rem;
    }
    .message-container {
      color: $WhitColor;
    }
  }

  @media only screen and (max-width: 600px) {
    .signupFormContainer {
      margin-top: 3rem;
    }
  }
}
