.EditSet_Container {
  h2 {
    color: $blue-color;
  }
  .EditSet_Content {
    
    .edidtOverlap-group {
      margin: 0 auto;
      max-width: 60%;
     
      .editGroup {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        .slidNumber {
          padding: 0.5rem 2rem;
        }
        .ellipseLeft {
          border: none;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          transition: all 0.8s ease;
          cursor: pointer;
          &:hover {
            box-shadow: $box-shadow;
          }
        }
        .ellipseRight {
          border: none;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          transition: all 0.8s ease;
          cursor: pointer;
          &:hover {
            box-shadow: $box-shadow;
          }
        }
      }
    }
    .set-description {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      margin: 2rem auto;
      width: 90%;

      section {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        h4 {
          color: $blue-color;
        }
        p {
          color: $blue-color;
        }
      }
      button {
        background-color: $blue-color;
        color: $colorWhit;
        border: none;
        padding: 0.3rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.8s ease;
        &:hover {
          box-shadow: $box-shadow;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .EditSet_Container {
    .EditSet_Content {
      .set-description {
        display: flex;
        flex-direction: column;
        button {
          margin: 2rem 0;
        }
      }
    }
  }
}
