
@import 'Colors'; // Importiere die Variablen
//   Styling des register --------------------
.register_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 80vh;
  width: 90%;
  border-radius: 1rem;
  .title {
    text-align: center;
    color: #106899;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $WhitColor;
  }

  .register-form {
    width: $boxWidth;
    height:$boxHeight;
    background: #c4d6e7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 3rem;
    text-align: center;
    box-shadow: $boxShadow;

    form {
      width: 280px;
      display: flex;
      flex-direction: column;
      .inputPassword_Confrim {
        display: flex;
        position: relative;
        .pwdvisibilityPass {
          position: absolute;
          background: transparent;
          top: 0.7rem;
          right: 1rem;
          border: none;
          outline: none;
        }
      }
      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.8rem 0;
        gap: 10px 0;
        font-size: 1.1rem;
        color: #106899;
        input {
          width: 290px;
          padding: 0.6rem 0;
          border-radius: 2rem;
          outline: none;
          border: none;
          background-color: white;
          padding-left: 1rem;
        }
      }
      .RegisterBtn {
        button {
          cursor: pointer;
          width: 100px;
          padding: 0.5rem 0rem;
          margin-bottom: 1rem;
          border-radius: 2rem;
          border: none;
          outline: none;
          color: $ColorBlack;
          transition: all 3s ease;
          background: white;
          margin-top: 1rem;

          &:hover {
            background-color: #9d9797;
          }
        }
      }
    }
    .messages-container {
      /* Neue Container-Klasse für Fehler- und Bestätigungsmeldungen */
      margin-top: 1rem;
      color: $WhitColor; /* Ändern Sie dies entsprechend Ihrer Farbwahl */
      font-size: 1rem;

      .error-message {
        color: $WhitColor;
      }

      .confirmation-message {
        color: $WhitColor;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .register_container {
    margin-top: 3rem;
    height: 100%;
    width: 90%;
    .customRegisterContainer {
      height: auto;
      margin-top: 3rem;
      .register-form {
        width: 100%;
        form {
          margin: 1rem;
          input {
            padding: 1rem;
            width: 200px;
          }
        }
      }
    }
  }
}
