$backgroundGreen: #387373;
$BlackWhiteColor: #eee;
$WhitColor: white;
$ColorBlack: #000000;
$colorPrimary: #4caf50; // green
$colorSecondary: #ff6f61; // red
$colorGrau: #4d4d4dcc;
$boxShadow: 0px 0px 10px #0000;
$ColoeHellgrün: #e4f2e7;
.register_container {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 80vh;
  width: 90%;
  

  .title {
    color:  #106899;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $WhitColor;
  }

  .register-form {
    width: 320px;
    height: 410px;
    background: #C4D6E7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 3rem;
    text-align: center;
    box-shadow: $boxShadow;

    form {
      width: 240px;
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
        gap: 4px 0;
        font-size: 1.1rem;
        color:  #106899;

        input {
          width: 100%;
          padding: 0.6rem 0;
          border-radius: 2rem;
          outline: none;
          border: none;
          background-color: white;
          padding-left: 1rem;

          //&:focus {
          /* Beispiel: Änderungen beim Fokussieren des Eingabefeldes */
          //border: 2px solid $colorPrimary;
          //background-color: $WhitColor;
          //color: $ColorBlack;
          //}
        }

        .pwdvisibility {
          cursor: pointer;
          font-size: 0.8rem;
          color: $colorGrau;
          margin-left: auto;
        }

      .Register_btn {
        button {
          cursor: pointer;
          width: 100%;
          padding: 0.5rem 0;
          border-radius: 2rem;
          border: none;
          outline: none;
          color: $ColorBlack;
          transition: all 3s ease;
          background: white;
          margin-top: 1rem;

            &:hover {
              background-color: #9d9797;
            }
          }
        }
      }
    }
    .messages-container {
      /* Neue Container-Klasse für Fehler- und Bestätigungsmeldungen */
      margin-top: 1rem;
      color: $WhitColor; /* Ändern Sie dies entsprechend Ihrer Farbwahl */
      font-size: 1rem;

      .error-message {
        color: $WhitColor;
      }

      .confirmation-message {
        color: $WhitColor;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .register_container {
    margin-top: 3rem;
    height: 100%;
    width: 90%;
    .customRegisterContainer {
      height: auto;
      margin-top: 3rem;
      .register-form {
        width: 100%;
        form {
          margin: 1rem;
          input {
            padding: 1rem;
            width: 200px;
          }
        }
      }
    }
  }
}
