@import "Colors";
.setting_content {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  border-radius: $border-radius-1rem;
  .title {
    color: $blue-color;
    font-weight: normal;
    text-shadow: 0px 0px 0.3px $blue-color;
    margin-bottom: 1rem;
    padding: 1rem 1.2rem;
  }
  .formWrap {
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .settingForm {
      width: 50%;
      height: 400px;
      margin: 0 1rem;
      background-color:$color-light-blue;;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius-1rem;
      box-shadow: $box-shadow;
      form .formUsername {
        label {
          color: $blue-color;
          display: flex;
          flex-direction: column;
          margin: 1rem 0;
        }
        input {
          width: 220px;
          padding: 0.4rem 0.5rem;
          border: none;
          outline: none;
          border-radius: $border-radius-1rem;
          margin-top: 1rem;
          cursor: pointer;
        }
        .setting_btn {
          button {
            border: transparent;
            padding: 0.5rem;
            border-radius: $border-radius-1rem;
            transition: all 0.3s ease;
            color: white;
            font-weight: bold;
            margin-top: 1rem;
            cursor: pointer;
            background: $highlight-color;
            &:hover {
              background: $color-orangen;
            }
          }
        }
      }
      .formPassword {
        label {
          color: $blue-color;
          display: flex;
          flex-direction: column;
          margin: 1rem 0;
        }
        .inputPassword {
          display: flex;
          position: relative;
          margin: 1rem 0;
          input {
            width: 220px;
            border-radius: $border-radius-1rem;
            border: none;
            outline: none;
            padding: 0.4rem 0.5rem;
            cursor: pointer;
          }
          .pwdvisibilityPass {
            position: absolute;
            background: transparent;
            border: none;
            outline: none;
            right: 0.5rem;
            top: 0.3rem;
          }
        }
        .submitBtn {
          border: transparent;
          padding: 0.5rem;
          border-radius: $border-radius-1rem;
          transition: all 0.3s ease;
          color: $white-color;
          margin-top: 1rem;
          cursor: pointer;
          font-weight: bold;
          background: $highlight-color;
          &:hover {
            background: $color-orangen;
          }
        }
      }
    }
  }

  .message-container {
    text-align: center;
    font-size: $text-size-1-5rem;
    //text-shadow: 0px 0px 0.9px $color-black;
    color: $blue-color;
  }
  .modalBtnSetting {
    display: flex;
    margin-top: 1rem;
    button {
      font-weight: bold;
      color: white;
      border-radius: $border-radius-1rem;
      border: none;
      outline: none;
      padding: 0.4rem 0.6rem;
      transition: all 0.8s ease;
      background: $color-garu;
      &:hover {
        background: $blue-color;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .setting_content {
    margin: 2rem;
    width: 100%;
    margin: 0 auto;
    .title {
      font-size: $text-size-1rem;
    }
    .formWrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      .settingForm {
        width: 80%;
        margin: 1rem;
        padding: 0.3rem;
        form .formUsername {
          input {
            width: 160px;
          }
        }
        .setting_btn {
          width: 120px;
          font-size: $smallest-text-size;
        }
        .formPassword {
          .inputPassword {
            input {
              width: 160px;
            }
          }
          .submitBtn {
            width: 120px;
            font-size: $smallest-text-size;
          }
        }
      }
    }
    .message-container {
      margin-top: 3rem;
      font-size: $text-size-1rem;
    }
    .modalBtnSetting {
      margin-bottom: 1rem;
    }
  }
}
