.box.create-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6eaec;
  padding: 20px;
  color: #106899;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.content-wrapper {
  width: 80%;
  padding: 20px;
  color: #106899;
}

form {
  width: 100%;
  font-size: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(196, 214, 231, 0.3);
  border-radius: 15px;
  margin-top: 20px;
}

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

label {
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.save {
  margin: 1.5rem;
  text-align: center;
  background: #fdb25b;
  color: white;
  border-radius: 1rem;
  font-size: 1.3rem;
  outline: none;
  border: none;
  box-shadow: 0px 0px 0.8px #000;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background: #ed7e00;
  }
}

.image-container {
  width: 80%;
  margin-bottom: 20px;
}

.image-container img {
  width: 50%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 768px) {
  .box.create-set {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .content-wrapper {
    width: 48%; /* 50% minus Platz für den Abstand */
    margin-right: 2%; /* Abstand zwischen Formular und Bild */
  }

  .image-container {
    width: 48%;
  }
}
