.create-set {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .create-set .overlap-wrapper {
    background-color: #ffffff;
    height: 868px;
    width: 1280px;
  }
  
  .create-set .overlap {
    background-color:#387373;
    border-radius: 46px;
    box-shadow: 4px 6px 4px #00000040;
    height: 80vh;
    position: relative;
  }
  
  .create-set .group {
    height: 242px;
    left: 96px;
    position: absolute;
    top: 167px;
    width: 1073px;
  }
  
  .create-set .overlap-group {
    background-color: #eeeeee;
    border-radius: 46px;
    box-shadow: 4px 6px 4px #00000040;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1069px;
    font-size: 20px;
    font-weight: 300;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
  }
  
  .create-set .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    height: 56px;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 251px;
  }
  
  .create-set .div-wrapper {
    background-color: #eeeeee;
    border-radius: 46px;
    box-shadow: 4px 6px 4px #00000040;
    height: 115px;
    left: 0;
    position: absolute;
    top: 127px;
    width: 1069px;
    font-size: 20px;
    font-weight: 300;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
  }
  
  .create-set .div {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    height: 56px;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 307px;
  }
  

.create-set .save {
    
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
    
    border-radius: 10px;
    left: 931px;
    position: absolute;
    top: 65vh;
    text-align: center;
    line-height: 53px; 
    font-size: 20px; 
    height: 53px;
    width: 150px;
    
}


.create-set .save:hover {
    background: linear-gradient(to bottom, #dcdcdc, #c0c0c0);
    
}

